    <div class="appointments">
        <div class="appointments-header" id="monthYear">{{this.monthYear}}  | Week: {{this.currentWeek}}
        </div>
        <p></p>    
        <button class="rup-btn rup-btn--text" id="back"type="button" {{on "click" this.back}}>
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-chevron-left"><path class="primary" fill-rule="evenodd" clip-rule="evenodd" d="M15.707 5.293a1 1 0 00-1.414 0l-6 6a1 1 0 000 1.414l6 6a1 1 0 001.414-1.414L10.414 12l5.293-5.293a1 1 0 000-1.414z"/></svg>
        </button>
        <button class="rup-btn rup-btn--text" id="next" type="button" {{on "click" this.next}}>
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-chevron-right"><path class="primary" fill-rule="evenodd" clip-rule="evenodd" d="M8.293 5.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L13.586 12 8.293 6.707a1 1 0 010-1.414z"/></svg>            
        </button>
        <p></p>
        <table  align="center" cellspacing="21" cellpadding="21">
        
            <thead>
                <tr>
                    {{#if this.isMarkedMon}}   
                        <th><button id="Mon" class="rup-btn rup-btn--sm rup-btn--contained" type="button" {{on "click" (fn this.changeArray "Mon" false)}}>Mon</button></th>
                    {{else}}
                        <th><button id="Mon" class="rup-btn rup-btn--sm" type="button" {{on "click" (fn this.changeArray "Mon" true)}}>Mon</button></th>
                    {{/if}}
                    {{#if this.isMarkedTue}}
                        <th><button id="Tue" class="rup-btn rup-btn--sm rup-btn--contained" type="button" {{on "click" (fn this.changeArray "Tue" false)}}>Tue</button></th> 
                    {{else}}                   
                        <th><button id="Tue" class="rup-btn rup-btn--sm" type="button" {{on "click" (fn this.changeArray "Tue" true)}}>Tue</button></th>
                    {{/if}} 
                    {{#if this.isMarkedWed}}
                        <th><button id="Wed" class="rup-btn rup-btn--sm rup-btn--contained" type="button" {{on "click" (fn this.changeArray "Wed" false)}}>Wed</button></th> 
                    {{else}}                   
                        <th><button id="Wed" class="rup-btn rup-btn--sm" type="button" {{on "click" (fn this.changeArray "Wed" true)}}>Wed</button></th>
                    {{/if}}
                    {{#if this.isMarkedThu}}
                        <th><button id="Thu" class="rup-btn rup-btn--sm rup-btn--contained" type="button" {{on "click" (fn this.changeArray "Thu" false)}}>Thu</button></th> 
                    {{else}}                   
                        <th><button id="Thu" class="rup-btn rup-btn--sm" type="button" {{on "click" (fn this.changeArray "Thu" true)}}>Thu</button></th>
                    {{/if}}
                    {{#if this.isMarkedFri}}
                        <th><button id="Fri" class="rup-btn rup-btn--sm rup-btn--contained" type="button" {{on "click" (fn this.changeArray "Fri" false)}}>Fri</button></th> 
                    {{else}}                   
                        <th><button id="Fri" class="rup-btn rup-btn--sm" type="button" {{on "click" (fn this.changeArray "Fri" true)}}>Fri</button></th>
                    {{/if}}                                                            
                    <th><button class="rup-btn rup-btn--text" type="button" disabled>Sat</button></th>
                    <th><button class="rup-btn rup-btn--text" type="button" disabled>Sun</button></th>                   

                </tr>
            </thead>
    
            <tbody id="calendar-body">

                
{{!--                 <tr>
                    <td>user1</td>
                    <td>user1</td>
                    <td>user8</td>
                    <td>user1</td>
                    <td>user1</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr></tr>
                <tr>
                    <td>user2</td>
                    <td>user2</td>
                    <td></td>
                    <td>user4</td>
                    <td>user2</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>user4</td>
                    <td>user3</td>
                    <td></td>
                    <td>user5</td>
                    <td>user3</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>user6</td>
                    <td>user14</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>user2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>user9</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> --}}
            </tbody>
            
        </table>
        <h1>{{this.Usuario}}</h1> {{!-- TEMPORAL --}}
    </div>