    <div class="appointments">
        <div class="appointments-header" id="monthYear">{{this.monthYear}}  | Week: {{this.currentWeek}}
        </div>
        <p></p>    
        <button class="rup-btn rup-btn--text" id="back"type="button" {{on "click" this.back}}>
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-chevron-left"><path class="primary" fill-rule="evenodd" clip-rule="evenodd" d="M15.707 5.293a1 1 0 00-1.414 0l-6 6a1 1 0 000 1.414l6 6a1 1 0 001.414-1.414L10.414 12l5.293-5.293a1 1 0 000-1.414z"/></svg>
        </button>
        <button class="rup-btn rup-btn--text" id="next" type="button" {{on "click" this.next}}>
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-chevron-right"><path class="primary" fill-rule="evenodd" clip-rule="evenodd" d="M8.293 5.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L13.586 12 8.293 6.707a1 1 0 010-1.414z"/></svg>            
        </button>
        <p></p>
        <table id="myTab"  align="center" cellspacing="21" cellpadding="21">
        
            <thead>
                <tr>
                {{#each this.queue as | buttonDay index|}}
                    <th>
                        <button                                             
                            type="button" 
                            class=                                               
                                {{if buttonDay.marked "rup-btn rup-btn--sm rup-btn--contained" "rup-btn rup-btn--sm"}}
                                {{on "click" (fn this.changeArray buttonDay.dayOfWeek buttonDay.number)}}
                            >
                            {{buttonDay.dayOfWeek}}
                            {{buttonDay.number}}
                        </button>                       
                    </th>                
                {{/each}}                                                          
                </tr>
            </thead>

                {{!--La tag "tr" corresponde a la fila
                La tag "td" corresponde a la columna --}}
            <tbody id="calendar-body">                
                {{#each this.queue as | userTD index |}}                                              {{!-- Creame tantas columnas como dias haya --}}
                    <td>
                        
                        {{#if userTD.weekend }}                                                       {{!-- Si NO es weekend saca los usuarios --}}                    
                            {{#each this.userList as | userList index |}}                             {{!-- Creame tantas filas como usuarios haya --}}                                    
                                {{#if userTD.marked}}       
                                                                                                    {{!-- Si MARCO pon el usuario correcto --}} 
                                <tr>{{userList.user}}</tr> 
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </td>        
                {{/each}}

            </tbody>
            
        </table>
    </div>